body {
    background-color: #212121;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar main";

    /* overflow: hidden; */
}

/* Main*/
main {
    display: block;
    padding: 20px 30px 30px 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* position: relative; */
    z-index: 1;

    padding-bottom: 20px;

    border-bottom: 2px solid white;
}

.info-aluno {
    display: flex;
    flex-direction: column;
}

.semestre-atual {
    display: flex;
    flex-direction: row;
}

/* Menu lateral*/

.logo img {
    max-width: 40%;
}

.botoes-apoio {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-bottom: 15px;
}

.menu-lateral {
    background-color: #161515;
    color: white;

    display: flex;
    flex-direction: column;

    z-index: 2;
    grid-area: sidebar;

    border-radius: 10px;
    gap: 10px;
    padding-top: 20px;
    padding-left: 20px;
    height: 100vh;

    top: 0;
    left: 0;
    margin: 0;
    overflow-x: hidden;
}

.icon-menu-lateral {
    width: 30px;
    padding-right: 20px;
}

.modo-escuro {
    padding-bottom: 10px;
}

.opcoes-menu-lateral {
    display: flex;
    align-items: center;
    height: 50px;

    padding-bottom: 10px;
    transition: margin 0.3s;
}

span {
    padding-right: 20px;
}

.menu-lateral.retraido {
    /* width: 4%; */
}

.menu-lateral.expandido {
    /* width: 20%; */
}

.menu-lateral.retraido .opcoes .opcoes-menu-lateral span,
.modo-escuro.retraido {
    display: none
}

.final {}

/* Box */
.box {
    background-color: #161515;
    color: white;

    border-radius: 8px;
}

/* Perfil aluno */
.perfil-aluno{
    display: flex;
    flex-direction: row;
    gap: 10px;

    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    height: 15%;
}

.foto>img{
    object-fit: cover;
    border-radius: 100px;
    max-height: 100%;
}

.infos{

}

/* Noticias */
.noticias {
    display: flex;
    flex-direction: column;
    height: 15%;
}

/* Atualizações */
.cabecalho {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.conteudo-atualizacoes {
    display: flex;
    flex-direction: column  ;

    gap: 10px;
}

strong:hover{
    cursor: pointer;
    color: #14d16f;
}

.config-geral {
    margin-top: 20px;
    padding: 20px;
}